<<<<<<< HEAD
img{
    border-radius: 10px;
}
.date{
    margin-top: -10px;
    font-weight: 300;
    margin-right: 5px;
}
=======
.fa-regular.filled {
    color: #f5d636;
}
  
  
>>>>>>> c906d0fd8aed3a9bd476401f4a4d34d57f569747
