
.date {
  margin-top: -10px;
  font-weight: 300;
  margin-right: 5px;
  margin-left: -8px;
}
.fa-regular.filled {
  color: #f5d636;
}

img {
  border-radius: 10px;
  box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out;
}

/* Add a media query for small screens */
@media screen and (max-width: 600px) {
  img {
    box-shadow: none; /* Remove box-shadow for small screens */
  }
}

/* Add hover effect for scaling */
img:hover {
  transform: scale(1.1);
}

/* Add animation for a subtle pulse effect */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

