<div style="height: 350px;" class="m-1">
	<div style="margin-top: 25px;" class="card-body">
		<div style="position: relative;">
			<img style="height: 270px; cursor: pointer;" (click)="redirectToDetails(movie.id)"
				 [src]="'https://image.tmdb.org/t/p/w500/' + movie.poster_path" class="card-img-top" [alt]="movie.title">
			<span class="ellipse-circul">
				  <i class="fa-solid fa-ellipsis"></i>
			</span>        
		</div>
		<h4 class="card-title mt-4" style="cursor: pointer;" (click)="redirectToDetails(movie.id)">{{movie.title}}</h4>
	</div>
	<div class="d-flex p-2">
		<span class="date me-auto">{{date}}</span>
		<!-- <span class="ms-auto"><i class="fa-regular fa-heart fa-2x"></i></span> -->
	</div>
</div>