/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body { font-family: Roboto, "Helvetica Neue", sans-serif; }
.ellipse-circul {
    position: absolute;
    top: 12px;
    right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    background-color: rgb(168, 165, 165);
    border-radius: 50%;
    opacity: .6;
}



.progress-bar {
    position: absolute;
    top: 125px;
    right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    background-color: rgb(183, 59, 59);
}